# Firebase Console > Project settings > Your apps > Web app
VITE_FIREBASE_API_KEY=AIzaSyDt20Elr4JD6N6S7uaPMy18D7NXmktEuOE
VITE_FIREBASE_AUTH_DOMAIN=afterweb-ba6f4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=afterweb-ba6f4
VITE_FIREBASE_STORAGE_BUCKET=afterweb-ba6f4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=435692780334
VITE_FIREBASE_APP_ID=1:435692780334:web:e5249b640216d6bd3c98bf
